{% extends '::base.html.twig' %}

{% block body -%}
    <h1>SportAction list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Round</th>
                <th>Homescore</th>
                <th>Guestscore</th>
                <th>Homevaluable</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('sportaction_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.round }}</td>
                <td>{{ entity.homeScore }}</td>
                <td>{{ entity.guestScore }}</td>
                <td>{{ entity.homeValuable }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('sportaction_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('sportaction_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('sportaction_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
